@import 'tailwindcss';

@theme {
  --color-primary: #b37e2e;
  --color-secondary: #f5dab3;
  --color-warning: #f5dab3;
  --color-darkbrown: #58473b;

  --shadow-custom: 0 4px 60px rgba(4, 6, 15, 0.05);
}
